<%- include('components/head') %> 
<body>
 <%- include('components/entete') %>
 <%- include('components/form_post') %>
 <%- include('components/form_recherche') %>
 <%- include('components/adr') %>
 <%- include('components/footer') %>
</body>


<script type="text/javascript">
 let elmSauver = document.querySelectorAll('.sauver')
 console.log('elmSauver = ' + elmSauver.length)
 for (elm of elmSauver)
 {

	 elm.addEventListener('click', function(){
	 /* 
	 console.log(this
	 .parentNode
	 .parentNode
	 .children[1].innerHTML)
	 */
	 let laLigne = this.parentNode.parentNode
	 let id = laLigne.children[0].innerHTML
	 let nom = laLigne.children[1].innerHTML
	 let prenom = laLigne.children[2].innerHTML
	 let telephone = laLigne.children[3].innerHTML
	 let courrriel = laLigne.children[4].innerHTML

	 })
 } 

let elmAjouter = document.getElementById('ajouter');
elmAjouter.addEventListener('click', function(){
		let leTr = document.getElementById("tr");
		console.log(leTr);
	 })
 } 

</script>
</html>